<header class="app-header">
  <%= link_to fa_icon('arrow-left'), :back, class: 'back-arrow' %>

  <h1 class="page-title">TRANSACTIONS</h1>

  <p class="header-link"><%= link_to "Log out", destroy_user_session_path, method: :delete %></p>
</header>

<%= render 'form' %>