<h1>Groups</h1>
<p>
  A list of groups will be generated here.
</p>
<ul>
  <% @groups.each do |group| %>
    <li>
      <h2><%= group.name %></h2>
      <p><%= group.icon %></p>
      <%= link_to 'Details', group_path(group.id) %>
    </li>
  <% end %>
</ul>
<%= link_to 'New Category', new_group_path %>
