// Place all the styles related to the splash controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import 'colors';
@import 'mixins';

* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  background-color: $main-background;
  max-width: 550px;
  min-height: calc(100vh - 350px);
  padding-bottom: 350px;
  margin: auto;
}

h1,
h2 {
  @include headings;

  color: $dark-text;
}

p,
span {
  @include regular-text;
}

#error_explanation {
  margin: 0 5%;

  ul {
    list-style-type: none;
  }
}

.notice {
  background-color: $second;
  color: white;
}

.alert {
  background-color: #e41f61;
  color: white;
}

.splash-header,
.splash-welcome,
.splash-text,
.notice,
.alert {
  text-align: center;
}

.splash-header {
  font-size: 65px;
  padding-top: 30vh;
}

.splash-welcome,
.splash-text {
  margin: 30px 5%;
}

.button-container {
  position: absolute;
  bottom: 150px;
  width: 90%;
  margin: 20px 5% -1px 5%;
}

.main-button,
.second-button,
.delete-button {
  @include regular-text;

  font-size: 20px;
  color: white;
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 5px;
  margin: 20px 0;
}

.main-button {
  background-color: $light-main;
}

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(0deg, $dark-main, $light-main);
  height: 75px;
  margin-bottom: 20px;
}

form {
  margin-bottom: 30px;
}

.page-title,
.back-arrow,
.header-link {
  color: white;
}

.page-title {
  text-align: center;
  font-size: 25px;
}

.back-arrow {
  padding-left: 5%;
}

.header-link {
  @include regular-text;

  background: none;
  border: none;
  margin-right: 5%;

  a {
    text-decoration: none;
    color: white;
  }
}

.field {
  width: 90%;
  height: 50px;
  border-bottom: 1px solid $medium-text;

  input {
    width: 100%;
    height: 50px;
    padding: 0 5%;
    border: none;
  }
}

.select-field {
  @include regular-text;

  display: flex;
  align-items: center;
  background-color: $second-background;
  height: 75px;

  input {
    margin-left: 30px;
    width: 30px;
    height: 30px;
  }

  label {
    font-size: 18px;
    color: $medium-text;
    margin: 0 30px 0 5%;
  }

  select {
    background-color: transparent;
    font-size: 18px;
    height: 30px;
    border-radius: 5px;
  }
}
